body
{
    margin: 0 0 0 0;
    font-family: 'Roboto Mono';
}

.navigation_bar
{
    background-color: #2B2D42;
    color: #EDF2F4;
    font-size: 1.3rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    height: 100px;
}

.navigation_bar_image
{
    width:150px;
    height:50px;
    padding-top: 1.8em;
    padding-left: 2em;
}

.navigation_bar_items
{
    text-align: center;
    float: right;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 13em;
}

.navigation_bar_item
{
    padding-right: 1em;
}

.hero_banner
{
    margin-top: -30px;
    background-color: #2B2D42;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;

}

.hero_text
{
    margin-top: 200px;
    width: 450px;
}

.hero_main_text
{
    font-size: 1.5em;
    font-weight: 800;
}

.hero_image
{
    margin-top: 110px;
    width: 500px;
    height: 350px;
}

.hero_button
{
    height: 55px;
    width: 12em;
    background-color: #EF233C;
    color: #EDF2F4;
    border-style: none;
    font-size: 1.3em;

}