body
{
    margin: 0 0 0 0;
    font-family: 'Roboto Mono';
    width : 100%;
}
/*Desktop*/
@media screen and (min-width: 1200px) {
    .navigation_bar
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        font-size: 1.3rem;
        font-weight: 100;
        display: flex;
        justify-content: center;
        height: 100px;
    }

    .navigation_bar_image
    {
        width:150px;
        height:50px;
        padding-top: 1.8em;
        padding-left: 2em;
    }

    .navigation_bar_items
    {
        text-align: center;
        float: right;
        padding-top: 2em;
        padding-right: 2em;
        padding-left: 13em;
    }

    .navigation_bar_item
    {
        padding-right: 1em;
    }

    .hero_banner
    {
        margin-top: -30px;
        background-color: #2B2D42;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 600px;

    }

    .hero_text
    {
        margin-top: 200px;
        width: 450px;
    }

    .hero_main_text
    {
        font-size: 1.5em;
        font-weight: 800;
    }

    .hero_image
    {
        margin-top: 110px;
        width: 500px;
        height: 350px;
    }

    .hero_button
    {
        height: 55px;
        width: 12em;
        background-color: #EF233C;
        color: #EDF2F4;
        border-style: none;
        font-size: 1.3em;
    }

    .first_section
    {
        margin-top: -90px;
        padding-top: 0.2em;
        background-color: #EDF2F4;
        height: 600px;
    }

    .section_title
    {
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
    }

    .row_items_third
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
    }

    .column_item
    {
        padding-right: 5em;
        min-width: 300px;
    }

    .column_item_title
    {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .second_section
    {
        padding-top: 0.2em;
        height: 1200px;
    }

    .column_items
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5em;
    }

    .row_items_half
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 8em;
        padding-right: 8em;
    }

    .feature_title
    {
        font-size: 1.5rem;
        font-weight: 800;
        color: #EF233C;
    }


    footer
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 330px;
    }
    .footer
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer_category_title
    {
        font-size: 1.5em;
        font-weight: 800;
    }

    .footer_item_one
    {
        padding-left: 0em;
    }
    .footer_item_two
    {
        padding-left: 5em;
    }
    .footer_item_three
    {
        padding-left: 5em;
    }
    .footer_item_four
    {
        padding-left: 5em;
    }

    .footer_property_text
    {
        margin-top: 3em;
        text-align: center;
        font-size: 0.8em;
    }

    .footer_develop_text
    {
        text-align: center;
        font-size: 0.8em;
    }
    .show_on_tablets
    {
        display: none;
    }

}

/*tablet*/
@media screen and (max-width: 1199px) {
    .navigation_bar
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        font-size: 1.3rem;
        font-weight: 100;
        display: flex;
        justify-content: center;
        height: 100px;
    }

    .navigation_bar_image
    {
        width:150px;
        height:50px;
        padding-top: 1.8em;
    }

    .navigation_bar_items
    {
        text-align: center;
        float: right;
        padding-top: 2em;
        padding-left: 35em;
    }
    .hamburger_menu
    {
        font-size: 3rem;
    }
    .hero_banner
    {
        margin-top: -30px;
        background-color: #2B2D42;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 500px;

    }

    .hero_text
    {
        margin-top: 130px;
        width: 370px;
    }

    .hero_main_text
    {
        font-size: 1.3em;
        font-weight: 800;
    }

    .hero_image
    {
        margin-top: 100px;
        width: 350px;
        height: 250px;
    }

    .hero_button
    {
        height: 45px;
        width: 10em;
        background-color: #EF233C;
        color: #EDF2F4;
        border-style: none;
        font-size: 1.3em;
    }

    .first_section
    {
        margin-top: -90px;
        padding-top: 0.2em;
        background-color: #EDF2F4;
        height: 500px;
    }

    .section_title
    {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }

    .row_items_third
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-left:20em;
        margin-right:20em;
    }

    .column_item
    {
        padding-right: 2em;
        min-width: 300px;
    }

    .column_item_title
    {
        font-size: 1.3rem;
        font-weight: 800;
    }

    .second_section
    {
        padding-top: 0.2em;
        height: 1200px;
    }

    .column_items
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row_items_half
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8em;
        margin-right: 8em;
    }

    .feature_title
    {
        font-size: 1.3rem;
        font-weight: 800;
        color: #EF233C;
    }

    footer
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 330px;
    }
    .footer
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer_category_title
    {
        font-size: 1.5em;
        font-weight: 800;
    }

    .footer_item_one
    {
        padding-left: 0em;
    }
    .footer_item_two
    {
        padding-left: 5em;
    }
    .footer_item_three
    {
        padding-left: 5em;
    }
    .footer_item_four
    {
        padding-left: 5em;
    }

    .footer_property_text
    {
        margin-top: 3em;
        text-align: center;
        font-size: 0.8em;
    }

    .footer_develop_text
    {
        text-align: center;
        font-size: 0.8em;
    }
    .show_on_desktops
    {
        display: none;
    }
}

/*phones*/
@media screen and (max-width: 1000px) {
    .navigation_bar
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        font-size: 1rem;
        font-weight: 100;
        display: flex;
        justify-content: center;
        height: 100px;
    }

    .navigation_bar_image
    {
        width:120px;
        height:40px;
        padding-top: 1.8em;
    }

    .navigation_bar_items
    {
        text-align: center;
        float: right;
        padding-top: 2em;
        padding-left: 13em;
    }
    .hamburger_menu
    {
        font-size: 3rem;
    }
    .hero_banner
    {
        margin-top: -30px;
        background-color: #2B2D42;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 500px;

    }

    .hero_text
    {
        margin-top: 130px;
        width: 370px;
    }

    .hero_main_text
    {
        font-size: 1.3em;
        font-weight: 800;
    }

    .hero_image
    {
        margin-top: 100px;
        width: 350px;
        height: 250px;
    }

    .hero_button
    {
        height: 45px;
        width: 10em;
        background-color: #EF233C;
        color: #EDF2F4;
        border-style: none;
        font-size: 1.3em;
    }

    .first_section
    {
        margin-top: -90px;
        padding-top: 0.2em;
        background-color: #EDF2F4;
        height: 500px;
    }

    .section_title
    {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }

    .row_items_third
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-left:20em;
        margin-right:20em;
    }

    .column_item
    {
        padding-right: 2em;
        min-width: 300px;
    }

    .column_item_title
    {
        font-size: 1.3rem;
        font-weight: 800;
    }

    .second_section
    {
        padding-top: 0.2em;
        height: 1200px;
    }

    .column_items
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row_items_half
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8em;
        margin-right: 8em;
    }

    .feature_title
    {
        font-size: 1.3rem;
        font-weight: 800;
        color: #EF233C;
    }

    footer
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 330px;
    }
    .footer
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer_category_title
    {
        font-size: 1.5em;
        font-weight: 800;
    }

    .footer_item_one
    {
        padding-left: 0em;
    }
    .footer_item_two
    {
        padding-left: 5em;
    }
    .footer_item_three
    {
        padding-left: 5em;
    }
    .footer_item_four
    {
        padding-left: 5em;
    }

    .footer_property_text
    {
        margin-top: 3em;
        text-align: center;
        font-size: 0.8em;
    }

    .footer_develop_text
    {
        text-align: center;
        font-size: 0.8em;
    }

    .hide_on_phones
    {
        display: none;
    }
}