/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EDF2F4;
    min-width: 180px;
    margin-left: -30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #2B2D42;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #8D99AE;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
body
{
    margin: 0px;
    padding:0px;
    font-family: 'Roboto Mono';
    width:100%;
    overflow-x: hidden;
}
.footer_item_text
{
    text-decoration: none;
}

/*Desktop*/
@media only screen and (min-width: 1200px) 
{    .hide_desktops
    {
        display:none;
    }
    .navigation_bar
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 80px;
        background-color:#2B2D42;
    }
    .navbar_container
    {
        display: flex;
        align-items: center;
        width: 1200px;
    }
    .navigation_bar_items
    {
        display: flex;
        justify-content: flex-start;
        text-align: right;
        flex-grow: 1;
    }

    .navigation_bar_item{
        color: #EDF2F4;
        text-decoration: none;
        font-size: 20px;
        padding-right: 20px;
    }

    .section_title
    {
        font-size: 50px;
        color:#2B2D42;
    }

    .section_container
    {
        display:flex;
        align-items: center;
        flex-direction: column;
        
    }
    .content_conatiner
    {
        display:flex;
        justify-content: center;
        flex-direction: row;
        width: 1200px;

    }
    .section_title_mission
    {
        font-size: 60px;
        color:#EDF2F4;     
    }
    .mission_container
    {
        
        height:600px;
        background-image: url("../images/vlad-busuioc-xyPxcqh8Tt8-unsplash3.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
    }
    .mission_statement
    {
        font-size: 23px;
        color: #EDF2F4;
        width: 1200px;

        text-align: center;
    }

    .story_container
    {
        background-color: #EDF2F4;
        height:1400px
    }

    .story_text
    {
        font-size: 16px;
    }

    .story_text_break
    {
        font-style: italic;
        font-size: 16px;

    }
    .story_text_highlight
    {
        font-weight: 800;
        font-style: italic;
    }
    .story_image
    {
        border-radius: 90px;
    }

    .founder_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left:50px;
        padding-right: 50px;
    }
    .founders_container
    {

        height: 900px;
    }
    .founder_image
    {
        border-radius: 100%;
    }
    .founder_name
    {
        font-size: 20px;
    }
    .founder_title
    {
        font-size: 20;
        color: #8D99AE;
    }
    .founder_text
    {
        font-size: 12px;
    }
    .founder_text_category
    {
        font-weight: 800;
        font-size:12px;
    }
    .founder_subtext_category
    {
        font-size: 11px;
        padding-left: 20px;
    }
    .footer_c
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer_container
    {
        display: flex;
        min-width: 800px;
        justify-content: space-evenly;
    }

    .footer_category_title
    {
        font-size: 20px;
        font-weight: 800;
    }

    .footer_item
    {
        font-size: 16px;
    }

    .footer_property_text
    {
        padding-top: 50px;
        text-align: center;
    }

    .footer_develop_text
    {
        text-align: center;
    }
    .social_media_footer_icon
    {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1200px)
{
    .show_on_desktops
    {
        display: none;
    }
}
/*Tablets*/
@media only screen and (max-width: 1199px)and (min-width: 1000px) 
{
    .navigation_bar
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 80px;
        background-color:#2B2D42;
    }
    .navbar_container
    {
        display: flex;
        align-items: center;
        width: 900px;
    }
    .navigation_bar_items
    {
        display: flex;
        justify-content: flex-start;
        text-align: right;
        align-items: center;
        flex-grow: 1;
    }
    .hamburger_menu
    {
        flex-grow: 2;
    }
    .side-bar
    {
        display:flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .sidebar_item
    {
        font-size: 40px;
        text-decoration: none;
        margin-top:50px;
    }
    .navigation_bar_item{
        color: #EDF2F4;
        text-decoration: none;
        font-size: 40px;
        padding-right: 20px;
    }

    .section_title
    {
        font-size: 50px;
        color:#2B2D42;
    }

    .section_title
    {
        font-size: 50px;
        color:#2B2D42;
    }

    .section_container
    {
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .content_conatiner
    {
        display:flex;
        justify-content: center;
        flex-direction: row;
        width: 900px;
    }
    .section_title_mission
    {
        font-size: 60px;
        color:#EDF2F4;     
    }
    .mission_container
    {
        
        height:600px;
        background-image: url("../images/vlad-busuioc-xyPxcqh8Tt8-unsplash3.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .mission_statement
    {
        font-size: 23px;
        color: #EDF2F4;
        width: 900px;

        text-align: center;
    }

    .story_container
    {
        background-color: #EDF2F4;
        height:auto!important;
        min-height:1600px;
    }

    .story_text
    {
        font-size: 16px;
    }

    .story_text_break
    {
        font-style: italic;
        font-size: 16px;

    }
    .story_text_highlight
    {
        font-weight: 800;
        font-style: italic;
    }
    .story_image
    {
        border-radius: 90px;
    }

    .founder_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left:50px;
        padding-right: 50px;
    }
    .founders_container
    {
        height:auto!important;
        min-height: 1000px;
    }

    .founder_image
    {
        border-radius: 50%;
    }
    .founder_name
    {
        font-size: 20px;
    }
    .founder_text
    {
        font-size: 12px;
    }
    .founder_text_category
    {
        font-weight: 800;
        font-size:12px;
    }
    .founder_subtext_category
    {
        font-size: 11px;
        padding-left: 20px;
    }
    .footer_c
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer_container
    {
        display: flex;
        min-width: 800px;
        justify-content: space-evenly;
    }

    .footer_category_title
    {
        font-size: 20px;
        font-weight: 800;
    }

    .footer_item
    {
        font-size: 16px;
    }

    .footer_property_text
    {
        padding-top: 50px;
        text-align: center;
    }

    .footer_develop_text
    {
        text-align: center;
    }
    .social_media_footer_icon
    {
        font-size: 30px;
    }
}
/*Phones*/
@media only screen and (max-width: 999px)
{
    html
    {
        margin-right:-6px;   
    }
    .navigation_bar
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 200px;
        background-color:#2B2D42;
    }
    .navbar_container
    {
        display: flex;
        align-items: center;
        width: 800px;
    }
    .navigation_bar_items
    {
        display: flex;
        justify-content: flex-start;
        text-align: right;
        align-items: center;
        flex-grow: 1;
    }
    .side-bar
    {
        display:flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .hamburger_menu
    {
        flex-grow: 2;
    }
    .navigation_bar_item{
        color: #EDF2F4;
        text-decoration: none;
        font-size: 70px;
        padding-right: 20px;
    }
    .sidebar_item
    {
        font-size: 40px;
        text-decoration: none;
        margin-top:50px;
    }

    .section_title
    {
        font-size: 60px;
        color:#2B2D42;
    }

    .section_container
    {
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .content_conatiner
    {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 900px;
    }
    .section_title_mission
    {
        font-size: 80px;
        color:#EDF2F4;     
    }
    .mission_container
    {
        
        height:1000px;
        background-image: url("../images/vlad-busuioc-xyPxcqh8Tt8-unsplash3.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .mission_statement
    {
        font-size: 40px;
        color: #EDF2F4;
        width: 900px;

        text-align: center;
    }

    .story_container
    {
        background-color: #EDF2F4;
        height:auto!important;
        min-height:100%;
    }

    .story_text
    {
        font-size: 40px;
    }

    .story_text_break
    {
        font-style: italic;
        font-size: 40px;

    }
    .story_text_highlight
    {
        font-weight: 800;
        font-style: italic;
    }
    .story_image
    {
        border-radius: 90px;
    }


    .founder_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left:30px;
        padding-right: 30px;
    }
    .founders_container
    {
        height:auto!important;
        min-height:100%;
    }
    .founder_image
    {
        border-radius: 100%;
    }
    .founder_name
    {
        font-size: 40px;
    }

    .founder_text
    {
        text-align: center;
        font-size: 30px;
    }
    .founder_text_category
    {
        font-weight: 800;
        font-size:30px;
    }
    .founder_subtext_category
    {
        font-size: 25px;
        padding-left: 20px;
    }
    .footer_c
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer_container
    {
        display: flex;
        min-width: 800px;
        justify-content: space-evenly;
    }

    .footer_category_title
    {
        font-size: 20px;
        font-weight: 800;
    }

    .footer_item
    {
        font-size: 16px;
    }

    .footer_property_text
    {
        padding-top: 50px;
        text-align: center;
    }

    .footer_develop_text
    {
        text-align: center;
    }
    .social_media_footer_icon
    {
        font-size: 30px;
    }
}