body
{
    margin: 0px;
    padding:0px;
    font-family: 'Roboto Mono';
    width:100%;
    overflow-x: hidden;
}
.footer_item_text
{
    text-decoration: none;
}

/*Desktop*/
@media only screen and (min-width: 1600px) 
{    .hide_desktops
    {
        display:none;
    }
    .navigation_bar
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 80px;
        background-color:#2B2D42;
    }
    .navbar_container
    {
        display: flex;
        align-items: center;
        width: 1500px;
    }
    .navigation_bar_items
    {
        display: flex;
        justify-content: flex-start;
        text-align: right;
        flex-grow: 1;
    }

    .navigation_bar_item{
        color: #EDF2F4;
        text-decoration: none;
        font-size: 20px;
        padding-right: 20px;
    }
    .section_container
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height:1300px;
    }
    .form_container
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 800px;
        padding-top: 50px;
    }
    .section_title
    {
        font-size: 50px;
    }
    .contact_text
    {
        font-size: 20px;
    }
    .label_text
    {
        font-size: 20px;
    }
    .text_field
    {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;
    }

    .select_field
    {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;
    }

    .textarea_field
    {
        width: 100%;
        height: 200px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;     
    }

    .choose_file_field
    {
        width: 100%;
        border-bottom: 1px solid #8D99AE;
    }
    .choose_file_field::file-selector-button {
        color: #EDF2F4;
        background-color: #8D99AE;
        padding: 0.5em;
        border-radius: 5px;
        border-style: none;
    }

    .submit_button
    {
        color: #EDF2F4;
        background-color: #2B2D42;
        padding: 0.5em;
        border-radius: 5px;
        border-style: none;
        font-size: 20px;
        width: 100px;
        height:50px;
    }
    .footer_c
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer_container
    {
        display: flex;
        min-width: 800px;
        justify-content: space-evenly;
    }

    .footer_category_title
    {
        font-size: 20px;
        font-weight: 800;
    }

    .footer_item
    {
        font-size: 16px;
    }

    .footer_property_text
    {
        padding-top: 50px;
        text-align: center;
    }

    .footer_develop_text
    {
        text-align: center;
    }
    .social_media_footer_icon
    {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1600px)
{
    .show_on_desktops
    {
        display: none;
    }
}
/*Tablets*/
@media only screen and (max-width: 1599px)and (min-width: 1000px) 
{
    .navigation_bar
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 80px;
        background-color:#2B2D42;
    }
    .navbar_container
    {
        display: flex;
        align-items: center;
        width: 900px;
    }
    .navigation_bar_items
    {
        display: flex;
        justify-content: flex-start;
        text-align: right;
        align-items: center;
        flex-grow: 1;
    }
    .hamburger_menu
    {
        flex-grow: 2;
    }
    .side-bar
    {
        display:flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .sidebar_item
    {
        font-size: 40px;
        text-decoration: none;
        margin-top:50px;
    }
    .navigation_bar_item{
        color: #EDF2F4;
        text-decoration: none;
        font-size: 40px;
        padding-right: 20px;
    }


    .section_container
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height:1200px;
    }
    .form_container
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 900px;
        padding-top: 50px;
    }
    .section_title
    {
        font-size: 50px;
    }
    .contact_text
    {
        font-size: 20px;
        padding-left:200px;
        padding-right: 200px;
    }
    .label_text
    {
        font-size: 20px;
    }
    .text_field
    {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;
    }

    .select_field
    {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;
    }

    .textarea_field
    {
        width: 100%;
        height: 200px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;     
    }

    .choose_file_field
    {
        width: 100%;
        border-bottom: 1px solid #8D99AE;
    }
    .choose_file_field::file-selector-button {
        color: #EDF2F4;
        background-color: #8D99AE;
        padding: 0.5em;
        border-radius: 5px;
        border-style: none;
    }

    .submit_button
    {
        color: #EDF2F4;
        background-color: #2B2D42;
        padding: 0.5em;
        border-radius: 5px;
        border-style: none;
        font-size: 20px;
        width: 100px;
        height:50px;
    }
    .footer_c
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer_container
    {
        display: flex;
        min-width: 800px;
        justify-content: space-evenly;
    }

    .footer_category_title
    {
        font-size: 20px;
        font-weight: 800;
    }

    .footer_item
    {
        font-size: 16px;
    }

    .footer_property_text
    {
        padding-top: 50px;
        text-align: center;
    }

    .footer_develop_text
    {
        text-align: center;
    }
    .social_media_footer_icon
    {
        font-size: 30px;
    }
}

@media only screen and (max-width: 999px)
{
    .navigation_bar
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 200px;
        background-color:#2B2D42;
    }
    .navbar_container
    {
        display: flex;
        align-items: center;
        width: 800px;
    }
    .navigation_bar_items
    {
        display: flex;
        justify-content: flex-start;
        text-align: right;
        align-items: center;
        flex-grow: 1;
    }
    .side-bar
    {
        display:flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .hamburger_menu
    {
        flex-grow: 2;
    }
    .navigation_bar_item{
        color: #EDF2F4;
        text-decoration: none;
        font-size: 70px;
        padding-right: 20px;
    }
    .sidebar_item
    {
        font-size: 40px;
        text-decoration: none;
        margin-top:50px;
    }

    .section_container
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height:1700px;
    }
    .form_container
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 900px;
        padding-top: 50px;
    }
    .section_title
    {
        font-size: 80px;
    }
    .contact_text
    {
        font-size: 40px;
        padding-left:100px;
        padding-right: 100px;
    }
    .label_text
    {
        font-size: 30px;
    }
    .text_field
    {
        width: 100%;
        height: 80px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;
        font-size: 30px;
    }

    .select_field
    {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;
        font-size: 30px;
    }

    .textarea_field
    {
        width: 100%;
        height: 200px;
        border-bottom: 1px solid #8D99AE;
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-right: 0px solid white;    
        font-size: 30px; 
    }

    .choose_file_field
    {
        width: 100%;
        border-bottom: 1px solid #8D99AE;
        font-size: 30px;
    }
    .choose_file_field::file-selector-button {
        color: #EDF2F4;
        background-color: #8D99AE;
        padding: 0.5em;
        border-radius: 5px;
        border-style: none;
        font-size: 30px;
    }

    .submit_button
    {
        color: #EDF2F4;
        background-color: #2B2D42;
        padding: 0.5em;
        border-radius: 5px;
        border-style: none;
        font-size: 30px;
        width: 200px;
        height:80px;
    }

    .footer_c
    {
        background-color: #2B2D42;
        color: #EDF2F4;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer_container
    {
        display: flex;
        min-width: 800px;
        justify-content: space-evenly;
    }

    .footer_category_title
    {
        font-size: 20px;
        font-weight: 800;
    }

    .footer_item
    {
        font-size: 16px;
    }

    .footer_property_text
    {
        padding-top: 50px;
        text-align: center;
    }

    .footer_develop_text
    {
        text-align: center;
    }
    .social_media_footer_icon
    {
        font-size: 30px;
    }
}